<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - COMAVI S.A</title>
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet" />
    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/css/custom-notifications.css" rel="stylesheet" />
    <link href="~/css/custom-notifications-controller.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body id="page-top" class="@(User.IsInRole("admin") ? "admin-role" : "user-role")">

    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <li>
                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "Home")">
                    <div class="sidebar-brand-icon">
                        <img src="~/img/ComaviSA_ICON.svg" style="width: 200px; height: auto;">
                    </div>
                </a>
            </li>

            <li>
                <hr class="sidebar-divider my-0" />
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action(User.IsInRole("admin") ? "Dashboard" : "Index", User.IsInRole("admin") ? "Admin" : "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            
            <li>
                <hr class="sidebar-divider my-0" />
            </li>

            
            @if (User.IsInRole("admin"))
            {
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Admin")">
                        <i class="fas fa-fw fa-home"></i>
                        <span>Panel Admin</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("ReportesGenerales", "Admin")">
                        <i class="fas fa-chart-bar"></i>
                        <span>Reportes</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="@Url.Action("ListarUsuarios", "Admin")">
                        <i class="fas fa-user-tie"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li>
                    <hr class="sidebar-divider my-0" />
                </li>
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDocumentos" aria-expanded="true" aria-controls="collapseDocumentos">
                        <i class="fas fa-file-pdf"></i>
                        <span>Documentos</span>
                    </a>
                    <div id="collapseDocumentos" class="collapse" aria-labelledby="headingDocumentos" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("PendientesValidacion", "Documentos")" style="overflow: auto;text-overflow: ellipsis;white-space: break-spaces;max-width: 100%;">Revisar Documentos Pendientes</a>
                            <a class="collapse-item" href="@Url.Action("DocumentosPorVencer", "Documentos")">Documentos por Vencer</a>
                            <a class="collapse-item" href="@Url.Action("GenerarReporteDocumentos", "Documentos")">Reporte de Documentos</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item my-2">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseChoferes" aria-expanded="true" aria-controls="collapseChoferes">
                        <i class="fas fa-users"></i>
                        <span>Choferes</span>
                    </a>
                    <div id="collapseChoferes" class="collapse" aria-labelledby="headingChoferes" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("MonitorearVencimientos", "Admin")">Monitorear Vencimientos</a>
                            <a class="collapse-item" href="@Url.Action("ListarChoferes", "Admin")">Gestión de Choferes</a>
                        </div>
                    </div>
                </li>
                <li>
                    <hr class="sidebar-divider my-0" />
                </li>

                <li class="nav-item my-2">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCamiones" aria-expanded="true" aria-controls="collapseCamiones">
                        <i class="fas fa-truck"></i>
                        <span>Camiones</span>
                    </a>
                    <div id="collapseCamiones" class="collapse" aria-labelledby="headingCamiones" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("ListarCamiones", "Admin")">Lista de Camiones</a>
                            <a class="collapse-item" href="@Url.Action("SolicitudesMantenimiento", "Admin")" style="overflow: auto;text-overflow: ellipsis;white-space: break-spaces;max-width: 100%;">Solicitudes de usuario para Mantenimiento</a>
                        </div>

                    </div>
                </li>

                <li>
                    <hr class="sidebar-divider my-0" />
                </li>
                <li class="nav-item my-2">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNotificaciones" aria-expanded="true" aria-controls="collapseNotificaciones">
                        <i class="fas fa-bell"></i>
                        <span>Notificaciones</span>
                    </a>
                    <div id="collapseNotificaciones" class="collapse" aria-labelledby="headingNotificaciones" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("NotificacionesMantenimiento", "Admin")">Mantenimiento</a>
                        </div>
                    </div>
                </li>
                <li>
                    <hr class="sidebar-divider my-0" />
                </li>
            }
            

            @if (User.IsInRole("user"))
            {
                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAgenda" aria-expanded="true" aria-controls="collapseAgenda">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Agenda</span>
                    </a>
                    <div id="collapseAgenda" class="collapse" aria-labelledby="headingAgenda" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("Index", "Agenda")">Mi Agenda</a>
                            <a class="collapse-item" href="@Url.Action("Calendar", "Agenda")">Calendario</a>
                            <a class="collapse-item" href="@Url.Action("Create", "Agenda")">Crear Evento</a>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePerfil" aria-expanded="true" aria-controls="collapsePerfil">
                        <i class="fas fa-id-card"></i>
                        <span>Mi Perfil</span>
                    </a>
                    <div id="collapsePerfil" class="collapse" aria-labelledby="headingPerfil" data-parent="#accordionSidebar">
                        <div class="bg-white py-2 collapse-inner rounded">
                            <a class="collapse-item" href="@Url.Action("Profile", "Login")">Datos Personales</a>
                            <a class="collapse-item" href="@Url.Action("CamionAsignado", "Camion")">Mi Camión</a>
                            <a class="collapse-item" href="@Url.Action("Index", "Calendar")">Ver Vencimientos</a>
                        </div>
                    </div>
                </li>
            }
            @{
#pragma warning disable CS8602 // Dereference of a possibly null reference.

                if (!User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLogin" aria-expanded="true" aria-controls="collapseLogin">
                            <i class="fas fa-solid fa-user"></i>
                            <span>Acceso</span>
                        </a>
                        <div id="collapseLogin" class="collapse" aria-labelledby="headingLogin" data-parent="#accordionSidebar">
                            <div class="bg-white py-2 collapse-inner rounded">
                                <a class="collapse-item" href="@Url.Action("Index", "Login")">Iniciar Sesión</a>
                                <a class="collapse-item" href="@Url.Action("Register", "Login")">Registrarse</a>
                                <a class="collapse-item" href="@Url.Action("ForgotPassword", "Login")">Restablecer Contraseña</a>
                            </div>
                        </div>
                    </li>
                }
#pragma warning restore CS8602 // Dereference of a possibly null reference.
            }
           

        </ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group">
                                <input id="buscarContainerNotUsable" type="text" class="form-control bg-light border-0 small" placeholder="Buscar por..." aria-label="Search" aria-describedby="basic-addon2" />
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    }

                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {

                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("ConsejosAdvertencias", "Admin")">
                                    <i class="fas fa-exclamation-circle"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown no-arrow d-sm-none">
                                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-search fa-fw"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                     aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto w-100 navbar-search">
                                        <div class="input-group">
                                            <input id="buscarContainerIndex" type="text" class="form-control bg-light border-0 small"
                                                   placeholder="Buscar por..." aria-label="Search"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-primary" type="button">
                                                    <i class="fas fa-search fa-sm"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </li>

                            <li class="nav-item dropdown no-arrow mx-1">
                                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-bell fa-fw"></i>
                                    <span class="badge badge-danger badge-counter" id="notificationsCount">0</span>
                                </a>
                                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="alertsDropdown" id="notificationsDropdown">
                                    <h6 class="dropdown-header">
                                        Centro de Alertas
                                    </h6>
                                    <div id="notificationsContainer">
                                        <!-- Las notificaciones se cargarán aquí dinámicamente -->
                                        <a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="mr-3">
                                                <div class="icon-circle bg-primary">
                                                    <i class="fas fa-info-circle text-white"></i>
                                                </div>
                                            </div>
                                            <div>
                                                <div class="small text-gray-500">Cargando notificaciones...</div>
                                                <span class="font-weight-bold">Por favor espere.</span>
                                            </div>
                                        </a>
                                    </div>

                                    <a class="dropdown-item text-center small text-gray-500" href="@Url.Action("Index", "Notifications")">
                                        Mostrar Todas las Alertas
                                    </a>
                                </div>
                            </li>
                            <li>
                                <div class="topbar-divider d-none d-sm-block" style="transform: translateY(1rem);"></div>
                            </li>

                            <li class="nav-item dropdown no-arrow">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@User.Identity.Name</span>
                                    <img class="img-profile rounded-circle"
                                         src="~/img/undraw_profile.svg">
                                </a>
                                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                     aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="@Url.Action("Profile", "Login")">
                                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Mi Perfil
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("CambiarContrasena", "Login")">
                                        <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cambiar Contraseña
                                    </a>
                                    <a class="dropdown-item" href="@Url.Action("ConfigurarMFA", "Login")">
                                        <i class="fas fa-shield-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Autenticación 2FA
                                    </a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                        Cerrar Sesión
                                    </a>
                                </div>
                            </li>

                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("Index", "Login")">
                                    <i class="fas fa-sign-in-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Iniciar Sesión
                                </a>
                            </li>
                        }
                    </ul>
                </nav>

                <div class="container-fluid">
                    @RenderBody()
                </div>

                
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; COMAVI S.A 2025</span>
                    </div>
                </div>
            </footer>
        </div> 
    </div>

    
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Listo para irte?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Selecciona "Cerrar Sesión" abajo si quieres cerrar esta sesion solamente.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <form method="post" action="@Url.Action("Logout", "Login")" style="display: inline;">
                        <button type="submit" class="btn btn-primary">Cerrar Sesión</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form id="csrf-form" style="display: none;">
        @Html.AntiForgeryToken()
    </form>

    
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/chart.js/Chart.min.js"></script>
    <script src="~/vendor/dompurify/purify.min.js"></script>
    <script src="~/js/notificaciones.js"></script>
    <script src="~/js/security-fixes.js"></script>
    <script src="~/js/datatables-global.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>